<h3>ReviewCard</h3>
<div class="review-card">
	<button Class="reject-btn">Отклонить</button>
	<button Class="accept-btn">Принять</button>
	<h3 class="UserData">@Name</h3>
	<p class="ContentsOfTheComment">@Description</p>
	<p class="stars">☆</p>
	<p class="stars">☆</p>
	<p class="stars">★</p>
	<p class="stars">★</p>
	<p class="stars">★</p>
	<img class="user-img" src="roza-png" width="300" height="200">
</div>

<style>

	.UserData {
		position: absolute;
		top: 120px;
		right: 250px;
	}

	.ContentsOfTheComment {
		position: absolute;
		top: 160px;
		right: 270px;
	}

	.review-card {
		position: relative;
		background: white;
		padding: 2rem;
		border-radius: 12px;
		box-shadow: 2px 2px 2px 4px rgba(0.1,0.1,0.1,0.2);
		width: 400px;
		height: 250px;
	}


	.reject-btn {
		width: 150px;
		height: 50px;
		position: absolute;
		background: lightblue;
		border: 12px;
		border-radius: 10px;
		bottom: 10px;
		right: 10px;
	}

	.reject-btn:hover {
		transform: translateY(-1px);
	}

	.accept-btn {
		width: 150px;
		height: 50px;
		position: absolute;
		background: lightblue;
		border: 12px;
		border-radius: 10px;
		top: 10px;
		right: 10px;
	}

	.accept-btn:hover {
		transform: translateY(-1px);
	}

	.user-img {
		width: 100px; 
		height: 100px;
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.stars {
		position: relative;
		front-size: 10px;
		left: 170px;
		bottom: 10px
	}

</style>

@code
{
	[Parameter]
	public string Name { get; set; } = "-";

	[Parameter]
	public string Description { get; set; } = "-";

}