<h3>ShelterDonationCard</h3>

<div class="DonateCard">
	<button class="ToDonate">Пожертвовать</button>
	<p>Пожертвование в приют: "Название приюта" "Название пожертвования"</p>
	<Progress Class="DonateProgress">
		<ProgressBar Width="20" Label="20%" />
	</Progress>
</div>


<style>

	.DonateCard {
		height: 50px;
		width: 100px;
		position:absolute;
		border: 100px black;
		border-width: 100px;
		border-radius: 100px;
	}



	.ToDonate {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
</style>

@code {

}
