<div class="DonateCard">
  <button class="ToDonate-btn">Пожертвовать</button>
	<p>@Name</p>
  <p>@Description</p>
  <Progress Class="DonateProgress" Height="30">
    <ProgressBar Width="60" Label="60%"/>
  </Progress>
</div>


<style>

  .DonateCard {
	max-width: 100%;
    height: 200px;
    position: relative;
    background: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 4px rgba(0.1,0.1,0.1,0.2);
  }

  p {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .DonateProgress {
    margin: 10px;
    font-size: 20px;
  }

	.ToDonate-btn {
		width: 150px;
		height: 50px;
		position: absolute;
		background: dodgerblue;
		border: 12px;
		border-radius: 10px;
		bottom: 30px;
		right: 10px;
	}

	.ToDonate-btn:hover {
		background: dodgerblue;
		transform: translateY(-2px);
		box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	}
</style>

@code 
{

	[Parameter]
	public int Id { get; set; }

	[Parameter]
	public string Name { get; set; }

	[Parameter]
	public string Description { get; set; }

	[Parameter]
	public Decimal? NeededMoney { get; set; }

	[Parameter]
	public Decimal? CollectedMoney { get; set; }
}