@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items

<style>

    .animal-cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 20px;
    }

    .long-break {
        border: none;
        height: 6px;    
        background-color: transparent;
        width: 100%;
        margin: 20px 0;
    }

</style>
<ShelterCardTopPartBuyer Name="@Name" />
<hr class="long-break">
<ShelterDonationCard></ShelterDonationCard>
<hr class="long-break">
<div class="animal-cards">
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
</div>
<hr class="long-break">
<hr class="long-break">
@code 
{
    [Parameter]
    public string Name { get; set; } = "-";

    [Parameter]
    public int Id { get; set; } = 0;

}
