@* <div>
	<Button>Отклонить</Button>
	<Button>Принять</Button>
	<h2>@UserData</h2>
	<h3>ContentsOfTheComment</h3>
</div>

@code {
	[Parameter]
	public string UserData { get; set; } = "-";

	[Parameter]
	public string ContentsOfTheСomment { get; set; } = "-";

}
 *@