@using HomelessAnimalsShelter.BLL
@using HomelessAnimalsShelter.UI.Components.Items
@using HomelessAnimalsShelter.Core.Models
@page "/"
@rendermode InteractiveServer

@code {
    private List<ShelterOutputModel> shelters;
    private ShelterManager shelterManager = new ShelterManager();
    protected override void OnInitialized()
    {
        shelters = shelterManager.GetAllShelters();
    }
}

@if (shelters != null && shelters.Any())
{
    @foreach (var shelter in shelters)
    {
        <SingleShelterList Name="@shelter.Name"
                           Id="@shelter.Id">
        </SingleShelterList>
    }
}
else
{
    <p>No shelters?!</p>
}
