@page "/ShelterList"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items

<style>

    .animal-cards {
        display: flex;
        justify-content: space-around;
    }


</style>
<PageTitle>ShelterList</PageTitle>

<ShelterCardTopPartBuyer Name="SHELTER NAME HERE" />

<div class="animal-cards">
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
    <AnimalCard Name="ANIMAL NAME HERE" />
</div>

@code {

}
