@page "/testingAlexey"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items
<h3>TestingPageAlexey</h3>

<AnimalCard Name ="ANIMAL NAME HERE"/>
<ShelterCardTopPartBuyer Name="SHELTER NAME HERE" />
<ShelterCardTopPartAdministrator Name="SHELTER NAME" />
@code 
{

}
