@page "/testingNikita"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items
<h3>TestingPageNikita</h3>

<CommentCard Name="UserData comment of (shelter name)"
             ContentsOfTheComment="ContentsOfTheComment"/>

@code
{

}
