@page "/testingNikita"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items
  <h3>TestingPageNikita</h3> 

@* <ReviewCard Name="Information"
            Description="Review text here" />   *@

<ShelterDonationCard/>

@code {

}