@page "/testingAlexey"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items
<h3>TestingPageAlexey</h3>

<AnimalCard Name="ANIMAL123"
            Description="animalQQQ" />
@code 
{

}
