@page "/testingAlexey"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items
<h3>TestingPageAlexey</h3>


<ShelterCardTopPartBuyer Name="SHELTER NAME HERE" />
<ShelterCardTopPartAdministrator Name="SHELTER NAME" />
<AnimalCard Name="ANIMAL NAME HERE" />
@code 
{

}
