@page "/testingNikita"
@rendermode InteractiveServer
@using HomelessAnimalsShelter.UI.Components.Items
  <h3>TestingPageNikita</h3> 

<ReviewCardBuyer/>

@* <ShelterDonationCard/> *@

@*     <ToolbarAdministrator/>
    <ToolbarSeller/>
    <ShelterRequestRegistryCard/>
    <SingleShelterList/> *@


@code {

}